<%= form_for(@people_admin_profile) do |f| %>


  <div class="field">
    <%= f.label :account %><br>
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :people/admin_id %><br>
    <%= f.text_field :people/admin_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
