<%= render @article %>
<hr>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>create Comments</h2>
<%= render 'comments/form' %>



 <%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>