
<p>1st app: simple blog posts
<br><%= link_to 'My Blog app', controller: 'articles' %>
</p>

<hr>
<p>2nd app: blog post with validation by users
<br><%= link_to 'Users list', controller: 'users' %>
<br><%= link_to 'Posts by user', controller: 'microposts' %>
</p>

<hr>
<p>3nd app: teacher and student grade sheet
<br><%= link_to '3rd app admin ppl', controller: 'people/admins' %>
<br><%= link_to '3rd app students', controller: 'people/students' %>
</p>

<hr>
<p>4 th part app: testing routing system with get and match ...via:

<br><%= link_to 'specified path static_pages/help', controller: 'static_pages', action: 'help' %>
<br><%= link_to 'specified path static_pages/home', controller: 'static_pages', action: 'home' %>
</p>