<p id="notice"><%= notice %></p>

<h1>Listing People Admins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people_admins.each do |people_admin| %>
      <tr>
        <td><%= people_admin.name %></td>
        <td><%= people_admin.school %></td>
        <td><%= people_admin.department %></td>
        <td><%= link_to 'Show', people_admin %></td>
        <td><%= link_to 'Edit', edit_people_admin_path(people_admin) %></td>
        <td><%= link_to 'Destroy', people_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin', new_people_admin_path %>
