<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Scaffold Demos:</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<h2>Ruby on Rails Scaffold Demos</h2>
	</div>

	<div id="content">
		<%= yield %>
	</div>

	<div id="footer">
		<p>
			<%= link_to 'Homepage', '/' %>
			<%= link_to 'My other projects', 
				"https://yongbin999.wordpress.com/" %>
		</p>
	</div>

</body>
</html>
