<!DOCTYPE html>
<html>
<head>
	<title>Ruby on Rails Scaffold Demos</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<h2>Ruby on Rails Scaffold Demos</h2>
		<nav>
		<%= link_to 'Homepage', root_url %>
		<%= link_to 'Signup', root_url + 'signup' %> 
		<%= link_to 'Login', root_url + 'login' %> 
		</nav>
	</div>

	<div id="content">
		<%= yield %>
	</div>

	<div id="footer">
		<p>
			<%= link_to 'Homepage', root_url %>
			<%= link_to 'My other projects', 
				"https://yongbin999.wordpress.com/" %>
		</p>
		Created by: Yong Liang
	</div>

</body>
</html>
